
<!-- header -->
  <div class="header">
    <div class="container">
      <div class="logo">
        <a href="index.html"><h1>Bloggr</h1><!-- <img src="images/logo.png" class="img-responsive" alt=""> --></a>
      </div>
      
        <div class="head-nav">
          <span class="menu"> </span>
            <ul class="cl-effect-1">
              <li><a href="/content">Blog</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/signin">Login</a></li>
              <li><a href="/"><img src="images/facebook.svg" width="25px" height="25px"></a></li>
              <li><a href="/"><img src="images/twitter.svg" width="25px" height="25px"></a></li>
              <li><a href="/l"><img src="images/Telegram.svg" width="25px" height="25px"></a></li>
                    <div class="clearfix"></div>
            </ul>
        </div>
            <!-- script-for-nav -->
              <script>
                $( "span.menu" ).click(function() {
                  $( ".head-nav ul" ).slideToggle(300, function() {
                  // Animation complete.
                  });
                });
              </script>
            <!-- script-for-nav -->
          <div class="clearfix"> </div>
    </div>
  </div>
<!-- header -->
